.name{
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    color: black;
    
}
.direction{
    font-family: sans-serif;
    font-size: medium;
    background-color: blanchedalmond;
    color: black;
}
.speech{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: black;
}
.direction:hover{
    background-color: azure;
    color: brown;
}
.JAC{
    color: blue;
    font-size: larger;
}
.HAR{
    color: chartreuse;
    font: larger;
}
.OFF{
    color: darkorange;
    font: larger;
}

  table, td, th {
                border: solid 1px ;
                color: darkblue;
                margin: 40px;
                padding: 8px;
                row-gap: 3px;

        text-align: center;}
        th{
            background-color: chartreuse;
        }
      
        
        tr:nth-child(even)
       {background-color:darkgray;
    }
    .name:hover
    {
        height: 40px;
        border: inset;
        background-color: rgb(243, 130, 209);
        text-shadow: 5px 4px 3px rgb(33, 34, 31);
    }
    